[Unit]
Description=Huawei iBMC Fan Speed Controller

[Service]
ExecStart=/bin/bash #{TARGETDIR}/fancontrol.sh
Restart=always
RestartSec=10s

[Install]
WantedBy=default.target
